div#root nav.navbar {
  background-color: #e39405;
  padding: 0;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 2;
}
div#root nav.navbar .container-fluid a.navbar-brand {
  color: white;
}
div#root .presentation-container {
  background-color: orange;
  padding-top: 150px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div#root .presentation-container h1 {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}
div#root .presentation-container p {
  text-align: center;
  width: 70%;
  color: white;
}
div#root div.inputs-form {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 50px;
}
div#root div.inputs-form textarea {
  resize: none;
}
div#root div.inputs-form .btn-primary {
  background-color: orange;
  border-color: orange;
}
div#root div.carousel {
  width: 70%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
div#root div.carousel .carousel-caption {
  color: black;
}

/*# sourceMappingURL=App.css.map */
