div#root {


  nav.navbar {
    background-color: #e39405;
    padding: 0;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 2;


    .container-fluid {

      a.navbar-brand {
        color: white;
      }
    }
  }

  .presentation-container {
    background-color: orange;

    padding-top: 150px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
      margin-bottom: 30px;
      color: white;
    }

    p {
      text-align: center;
      width: 70%;
      color: white;
    }
  }


  div.inputs-form {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 50px;

    textarea {
      resize: none;
    }

    .btn-primary {
      background-color: orange;
      border-color: orange;
    }


  }

  div.carousel {
    width: 70%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;

    .carousel-caption {
      color: black;
    }
  }
}
